* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#keyboard {
    position: relative;
    height: 300px;
    width: 600px;
}

#keyboard {
    button {
        width: 50px;
        height: 100%;
        position: relative;
        float: left
    }

    .natural {
        z-index: 1;
        background-color: white;
    }

    .sharp {
        height: 50%;
        background-color: black;
        z-index: 2;
        position: absolute;
        transform: translate(-25px);
        border: 2px solid white;
    }
}